/repos
/.ve
# Entries below should be alphabetically sorted
/out/civictechclub
/out/codeforiati
/out/endoflifedate
/out/githubadvisorydatabase
/out/jamstack
/out/opendatascot
/out/orgid
/out/register
/out/upforgrabs